/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

/* VARIABLES */
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #d86c6c;
    --transparente: rgba(255, 255, 255, 0.705);
}

/* ESTILOS HTML */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1 rem equivale a 10px*/
}

.centrar{
    text-align: center;
}

.boton {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4rem;
    width: 80%;
    text-align: center;
}

.sombra {
    box-shadow: 0px 5px 15px -2px rgba(112, 112, 112, 0.54);
    background-color: var(--blanco);
    border-radius: 2rem;
    padding: 2rem;
}

/* ESTILOS MENU */
.flex{
    display: flex;
}
.contenedor{
    margin: 0 auto;
    justify-content: space-evenly;
}

.contenedor .imgbox{
    width: 40rem;
    padding: 1.5rem;
    justify-content: flex-start;
}
.contenedor .imgbox img{
    width: 5.1rem;
}
.contenedor .imgbox p{
    padding: 1.7rem;
    font-size: 1.6rem;
    font-weight: 700;
}
.contenedor a{
    padding: 3rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--oscuro);
    transition: all 0.2s linear 0.2s;
}
.contenedor a:hover{
    color: var(--blanco);
    background-color: var(--primario);
    cursor: pointer;
}
header{
    position: fixed;
    width: 100%;
    background-color: var(--transparente);
}

/* PORTADA */

.portada{
    width: 120rem;
    height: 83rem;
}
.portada .titulo{
    width: 60rem;
    padding: 25rem 10rem;
    font-size: 4rem;
    font-weight: 400;
    display: inline;
    float: left;
    text-align: center;
    margin-top: 7rem;
}
.portada .titulo span{
    font-weight: 700;
    color: var(--primario);
}
.portada .imgP{
    width: 50rem;
    padding: 9rem 0rem 5rem 5rem;
    padding-top: 20rem;
    float: right;
}
.portada .imgP img{
    width: 68rem;
}

/*  SERVICIOS */

.contenido{
    display: flex;
    padding: 5rem 4rem;
    justify-content: space-evenly;
}

.servicios h2{
    padding-bottom: 2rem;
    font-weight: normal;
    font-size: 3rem;
}

.servicios h3{
    padding-bottom: 2rem;
    font-weight: normal;
    font-size: 2rem;
}

.servicios p{
    color: #707070;
}

.servicios-p{
    color: #707070;
    font-size: rem;
}

.servicios-contenedor{
    display: flex;
    flex-direction: column;
    background: var(--blanco);
    border-radius: 4rem;
    width: 30rem;
    text-align: center;
    padding: 0 5rem 4rem 5rem;
    align-items: center;
}

.borde h3{
    padding: 2rem;
}

.borde p{
    padding-bottom: 3rem;
}

.cuadro-rojo{
    background: var(--primario);
    border-radius: 2rem;
    height: 25rem;
    width: 30rem;
}

.imgService{
    width: 20rem;
    padding-top: 2rem;
}

.contenido a:hover{
    color: var(--blanco);
    background-color: #af4040;
    cursor: pointer;
}

/* PORTAFOLIO */

.portafolio {
    padding-bottom: 10rem;
    justify-content: space-evenly;
}

.portafolio h2{
    padding-left: 20rem;
    padding-top: 10rem;
}

.portafolio_texto{
    padding-top: 4rem;
    padding-bottom: 5rem;
    padding-left: 15rem;
    font-size: 2rem;
}

.boton_vermas{
    margin-left: 15rem;
}


.grid_portafolio{
    padding-left: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

.imgP{
    width: 100%;
}

.tercera{
    grid-column: 2 / 3;
}

.cuarta {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

/* DISEÑO RESPONSIVO */

.diseñogrid{
    display: grid;
    justify-content: unsafe;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    gap: 3rem;
}

.diseño_responsivo{
    padding-left: 5rem;
}

.diseño_responsivo h2{
    padding-left: 18rem;
    font-size: 3rem;
}

.diseño_texto{
    text-align: center;
    padding-top: 8rem;
}

.diseño_div_texto{
    width: 50rem;
    font-size: 2rem;
    padding-left: 15rem;
}


/* EQUIPO */

.equipo{
    align-items: center;
}

.equipo_h2{
    text-align: center;
    padding-top: 8rem;
    font-size: 2rem;
}

/* FOOTER */ 

.footer{
    background: var(--oscuro);
    padding-bottom: 2rem;
}

.footer_img{
    width: 5rem;
}

.footer_caja{
    display: flex;
    align-items: center;
    color: var(--blanco);
    justify-content: center;
    padding-top: 1.5rem;
    
}

.footer_caja h2{
    font-weight: normal;
    font-size: 2.5rem;
}

.footer_redes{
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer_demas{
    color: var(--blanco);
    text-align: center;
    font-weight: lighter;
}
